.gutter-box {
    padding: 5px 0;
  }

  .table-font{
      text-align: center;
  }

  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  nz-button-group [nz-button] {
    margin-right: 0;
  }