

                
                


<div class="gutter-example">

                <div nz-row nzGutter="16" >

                  <div nz-col class="gutter-row" nzSpan="6" *ngFor = "let data of datas">

                    <div class="gutter-box" >
                                <div  *ngIf = "data.tableStatus === '使用中'" class="table-font">
                                                <img src="../../../assets/imgs/source/z0.png" alt="桌位" height="50px" width="80px" >
                                                <br>
                                                <p>{{data.tableName}}-{{data.tableStatus}}
                                                  <br> 容纳人数:{{data.capacity}}
                                                  <br><button nz-button [nzType]="'primary'" (click)="showModal(data)"><span>生成二维码</span></button>
                                                </p>
                                </div>
                
                                <div  *ngIf = "data.tableStatus === '空闲'" class="table-font">
                                                <img src="../../../assets/imgs/source/z1.png" alt="桌位" height="50px" width="80px" >
                                                <br>
                                                <p>{{data.tableName}}-{{data.tableStatus}}
                                                  <br> 容纳人数:{{data.capacity}}
                                                  <br><button nz-button [nzType]="'primary'" (click)="showModal(data)"><span>生成二维码</span></button>
                                                </p>
                                </div>

                                <div  *ngIf = "data.tableStatus === '已预定'" class="table-font">
                                                <img src="../../../assets/imgs/source/z2.jpg" alt="桌位" height="50px" width="80px" >
                                                <br>
                                                <p>{{data.tableName}}-{{data.tableStatus}}
                                                  <br> 容纳人数:{{data.capacity}}
                                                  <br><button nz-button [nzType]="'primary'" (click)="showModal(data)"><span>生成二维码</span></button>
                                                </p>
                                                
                                </div>
                    </div>

                    
                  
                  </div>

                </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" class="qrcode">
  <div >
      <p>当前桌位：{{selectData.tableName}}</p>
      <p><qr-code [value]="selectDataString" [size]="200"></qr-code></p>
  </div>
    
  </nz-modal>